<div class="aside__item about">
  <h2 class="caption about__caption">About the author</h2>
  <article class="about__card">
    <picture>
      <source srcset="img/aside-1.webp" type="image/webp">
      <img class="about__img" loading="lazy" src="img/aside-1.jpg" alt="the girl in a warm sweater">
    </picture>
    <div class="about__content">
      <h3 class="about__title">Kate Willems</h3>
      <h4 class="about__sub">Food & cooking bloger</h4>
      <p class="about__text">
        Hi, I'm Sonia. Cooking is the way I express my creative side to the world. Welcome to my Kitchen Corner on…
      </p>
    </div>
    <div class="about__link-box">
      <a class="about__link" href="#" target="_blank">Continue Reading</a>
    </div>
  </article>
</div>