<section class="blog">
  <div class="container blog__container">
    <div class="blog__right">
      <div class="blog__content articles">
        <article class="articles__card">
          <picture>
            <source type="image/webp" srcset="img/post-1.webp">
            <img class="articles__img" src="img/post-1.jpg" loading="lazy" alt="the girl seats on the ground">
          </picture>
          <a class="articles__sub" href="#">Fashion</a>
          <div class="articles__content">
            <h2 class="articles__title">
              <a class="articles__link" href="#">One of Saturn’s largest rings
                may be newer than
                anyone</a>
            </h2>
            <div class="articles__info">
              <time class="articles__time" datetime="2019-06-19">June 6, 2019</time>
              <span class="articles__author"><span class="articles__author articles__author--grey">By</span>
                Rickie
                Baroch</span>
            </div>
          </div>
        </article>
        <article class="articles__card">
          <picture>
            <source type="image/webp" srcset="img/post-2.webp">
            <img class="articles__img" src="img/post-2.jpg" loading="lazy" alt="the girl lies on the ground">
          </picture>
          <a class="articles__sub" href="#">Sport</a>
          <div class="articles__content">
            <h2 class="articles__title">
              <a class="articles__link" href="#">One of Saturn’s largest rings may be newer than
                anyone</a>
            </h2>
            <div class="articles__info">
              <time class="articles__time" datetime="2019-06-19">June 6, 2019</time>
              <span class="articles__author"><span class="articles__author articles__author--grey">By</span>
                Rickie
                Baroch</span>
            </div>
          </div>
        </article>
        <article class="articles__card">
          <picture>
            <source type="image/webp" srcset="img/post-3.webp">
            <img class="articles__img" src="img/post-3.jpg" loading="lazy"
              alt="two modern men on the street dres in the yellow and grey jackets">
          </picture>
          <a class="articles__sub" href="#">Fashion</a>
          <div class="articles__content">
            <h2 class="articles__title">
              <a class="articles__link" href="#">One of Saturn’s largest rings may be newer than
                anyone</a>
            </h2>
            <div class="articles__info">
              <time class="articles__time" datetime="2019-06-19">June 6, 2019</time>
              <span class="articles__author"><span class="articles__author articles__author--grey">By</span>
                Rickie
                Baroch</span>
            </div>
          </div>
        </article>
        <article class="articles__card">
          <picture>
            <source type="image/webp" srcset="img/post-4.webp">
            <img class="articles__img" src="img/post-4.jpg" loading="lazy" alt="the light pink bag">
          </picture>
          <a class="articles__sub" href="#">Clothes</a>
          <div class="articles__content">
            <h2 class="articles__title">
              <a class="articles__link" href="#">One of Saturn’s largest rings may be newer than
                anyone</a>
            </h2>
            <div class="articles__info">
              <time class="articles__time" datetime="2019-06-19">June 6, 2019</time>
              <span class="articles__author"><span class="articles__author articles__author--grey">By</span>
                Rickie
                Baroch</span>
            </div>
          </div>
        </article>
        <article class="articles__card">
          <picture>
            <source type="image/webp" srcset="img/post-5.webp">
            <img class="articles__img" src="img/post-5.jpg" loading="lazy"
              alt="the girl dresses in a hat and a leather jacket">
          </picture>
          <a class="articles__sub" href="#">Clothes</a>
          <div class="articles__content">
            <h2 class="articles__title">
              <a class="articles__link" href="#">One of Saturn’s largest rings may be newer than
                anyone</a>
            </h2>
            <div class="articles__info">
              <time class="articles__time" datetime="2019-06-19">June 6, 2019</time>
              <span class="articles__author"><span class="articles__author articles__author--grey">By</span>
                Rickie
                Baroch</span>
            </div>
          </div>
        </article>
        <article class="articles__card">
          <picture>
            <source type="image/webp" srcset="img/post-6.webp">
            <img class="articles__img" src="img/post-6.jpg" loading="lazy" alt="the modern white coat">
          </picture>
          <a class="articles__sub" href="#">Fashion</a>
          <div class="articles__content">
            <h2 class="articles__title">
              <a class="articles__link" href="#">One of Saturn’s largest rings may be newer than
                anyone</a>
            </h2>
            <div class="articles__info">
              <time class="articles__time" datetime="2019-06-19">June 6, 2019</time>
              <span class="articles__author"><span class="articles__author articles__author--grey">By</span>
                Rickie
                Baroch</span>
            </div>
          </div>
        </article>
        <article class="articles__card articles__card--full">
          <picture>
            <source type="image/webp" srcset="img/post-7.webp">
            <img class="articles__img" src="img/post-7.jpg" loading="lazy"
              alt="a beige dress with the black small birds pattern">
          </picture>
          <a class="articles__sub" href="#">Sport</a>
          <div class="articles__content">
            <h2 class="articles__title">
              <a class="articles__link" href="#">One of Saturn’s largest rings may be newer than
                anyone</a>
            </h2>
            <div class="articles__info">
              <time class="articles__time" datetime="2019-06-19">June 6, 2019</time>
              <span class="articles__author"><span class="articles__author articles__author--grey">By</span>
                Rickie
                Baroch</span>
              <span class="articles__num">6 comments</span>
            </div>
            <p class="articles__text">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
              rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
              totam rem
            </p>
          </div>
        </article>
        <article class="articles__card">
          <picture>
            <source type="image/webp" srcset="img/post-8.webp">
            <img class="articles__img" src="img/post-8.jpg" loading="lazy"
              alt="a knitted warm red scarf and a grey auhumn coat">
          </picture>
          <a class="articles__sub" href="#">Autumn</a>
          <div class="articles__content">
            <h2 class="articles__title"><a class="articles__link" href="#">One of Saturn’s largest rings
                may be newer
                than anyone</a></h2>
            <div class="articles__info">
              <time class="articles__time" datetime="2019-06-19">June 6, 2019</time>
              <span class="articles__author"><span class="articles__author articles__author--grey">By</span>
                Rickie
                Baroch</span>
            </div>
          </div>
        </article>
        <article class="articles__card">
          <picture>
            <source type="image/webp" srcset="img/post-9.webp">
            <img class="articles__img" src="img/post-9.jpg" loading="lazy" alt="the long white auhumn coat">
          </picture>
          <a class="articles__sub" href="#">Clothes</a>
          <div class="articles__content">
            <h2 class="articles__title"><a class="articles__link" href="#">One of Saturn’s largest rings
                may be newer
                than anyone</a></h2>
            <div class="articles__info">
              <time class="articles__time" datetime="2019-06-19">June 6, 2019</time>
              <span class="articles__author"><span class="articles__author articles__author--grey">By</span>
                Rickie
                Baroch</span>
            </div>
          </div>
        </article>
        <article class="articles__card">
          <picture>
            <source type="image/webp" srcset="img/post-10.webp">
            <img class="articles__img" src="img/post-10.jpg" loading="lazy" alt="a grey open summer tank top">
          </picture>
          <a class="articles__sub" href="#">Summer</a>
          <div class="articles__content">
            <h2 class="articles__title"><a class="articles__link" href="#">One of Saturn’s largest rings
                may be newer
                than anyone</a></h2>
            <div class="articles__info">
              <a href="#" class="articles__author">June 6, 2019</a>
              <span class="articles__author"><span class="articles__author articles__author--grey">By</span>
                Rickie
                Baroch</span>
            </div>
          </div>
        </article>
        <article class="articles__card">
          <picture>
            <source type="image/webp" srcset="img/post-11.webp">
            <img class="articles__img" src="img/post-11.jpg" loading="lazy" alt="a white long summer dress">
          </picture>
          <a class="articles__sub" href="#">Summer</a>
          <div class="articles__content">
            <h2 class="articles__title"><a class="articles__link" href="#">One of Saturn’s largest rings may be newer
                than anyone</a></h2>
            <div class="articles__info">
              <time class="articles__time" datetime="2019-06-19">June 6, 2019</time>
              <span class="articles__author"><span class="articles__author articles__author--grey">By</span>
                Rickie
                Baroch</span>
            </div>
          </div>
        </article>
      </div>
      <div class="blog__pagination pagination">
        <ul class="list-reset pagination__list">
          <li class="pagination__item"><a href="#" class="pagination__link active"><span class="pagination__span">Older
                post</span></a></li>
          <li class="pagination__item"><a href="#" class="pagination__link">1</a></li>
          <li class="pagination__item"><a href="#" class="pagination__link">2</a></li>
          <li class="pagination__item"><a href="#" class="pagination__link">3</a></li>
          <li class="pagination__item"><a href="#" class="pagination__link">...</a></li>
          <li class="pagination__item"><a href="#" class="pagination__link">8</a></li>
          <li class="pagination__item"><a href="#" class="pagination__link"><span class="pagination__span">Next
                Post</span></a></li>
        </ul>
      </div>
    </div>
    @include('aside.html')
  </div>
</section>