<div class="categories dropdown-block__item">
  <button class="btn dropdown-block__btn caption categories__caption">Categories</button>

  <div class="categories__block row-categories dropdown">
    <ul class="list-reset row-categories__list">

      <li class="row-categories__item">
        <a class="row-categories__link" href="#">Fashion</a>
        <span class="row-categories__num">(23)</span>
      </li>

      <li class="row-categories__item">
        <a class="row-categories__link" href="#">Style & clothes</a>
        <span class="row-categories__num">(7)</span>
      </li>

      <li class="row-categories__item">
        <a class="row-categories__link" href="#">Minimalism</a>
        <span class="row-categories__num">(16)</span>
      </li>

      <li class="row-categories__item">
        <a class="row-categories__link" href="#">Black & White</a>
        <span class="row-categories__num">(5)</span>
      </li>

      <li class="row-categories__item">
        <a class="row-categories__link" href="#">Modern clothes</a>
        <span class="row-categories__num">(12)</span>
      </li>
    </ul>
  </div>
</div>