<section class="follow">
  <div class="container follow__container">
    <h2 class="follow__title">Follow our @instagram_name</h2>
    <ul class="list-reset follow__list">
      <li class="follow__item">
        <picture>
          <source srcset="img/sld-1.webp" type="image/webp">
          <img class="follow__img" loading="lazy" src="img/sld-1.jpg" alt="a woman in a bleck and white clothes">
        </picture>
      </li>
      <li class="follow__item">
        <picture>
          <source srcset="img/sld-2.webp" type="image/webp">
          <img class="follow__img" loading="lazy" src="img/sld-2.jpg" alt="the woman in a weding dress">
        </picture>
      </li>
      <li class="follow__item">
        <picture>
          <source srcset="img/sld-3.webp" type="image/webp">
          <img class="follow__img" loading="lazy" src="img/sld-3.jpg" alt="a woman seats in the nature">
        </picture>
      </li>
      <li class="follow__item">
        <picture>
          <source srcset="img/sld-4.webp" type="image/webp">
          <img class="follow__img" loading="lazy" src="img/sld-4.jpg" alt="the woman is close to the river">
        </picture>
      </li>
      <li class="follow__item">
        <picture>
          <source srcset="img/sld-5.webp" type="image/webp">
          <img class="follow__img" loading="lazy" src="img/sld-5.jpg"
            alt="the women in a black dress staies back to the lake">
        </picture>
      </li>
      <li class="follow__item">
        <picture>
          <source srcset="img/sld-6.webp" type="image/webp">
          <img class="follow__img" loading="lazy" src="img/sld-6.jpg" alt="the woman seats on the rock">
        </picture>
      </li>
    </ul>
  </div>
</section>