<div class="hero">
  <div class="container hero__container">
    <h1 class="hero__main-title visually-hidden">Fashion Blog</h1>
    <article class="hero__content">
      <a class="hero__subtitle-link" href="#">Vehicle</a>
      <h2 class="hero__title">One of Saturn’s largest rings may be newer than anyone
      </h2>

      <div class="hero__info">
        <time class="hero__time" datetime="2019-06-19 19:00">June 6, 2019</time>
        <a class="hero__link" href="#">
          <span class="hero__span hero__span--grey">By </span>Rickie
          Baroch</a>
        <div class="hero__item">4 comments</div>
      </div>
    </article>
  </div>
</div>