<div class="aside__item post">
  <h2 class="caption post__caption">Featured posts</h2>
  <div class="post__inner">
    <article class="post__card">
      <picture>
        <source srcset="img/aside-2.webp" type="image/webp">
        <img class="post__img" loading="lazy" src="img/aside-2.jpg" alt="the girl in jeans">
      </picture>
      <a class="post__sub" href="#" aria-label="Jeans">JEANS</a>
      <div class="post__content">
        <h3 class="post__title">
          <a href="#" class="post__link">One of Saturn’s largest rings may be newer than
            anyone</a>
        </h3>
        <div class="post__info">
          <time class="post__text-info" datetime="2019-06-19">June 6, 2019</time>
          <span class="post__text-info"><span class="post__text-info post__text-info--grey">By</span> Rickie
            Baroch</span>
        </div>
      </div>

    </article>
    <article class="post__card">
      <picture>
        <source srcset="img/aside-3.webp" type="image/webp">
        <img class="post__img" loading="lazy" src="img/aside-3.jpg" alt="the girl with blond hair">
      </picture>
      <a class="post__sub" href="#" aria-label="City">City</a>
      <div class="post__content">
        <h3 class="post__title">
          <a href="#" class="post__link">One of Saturn’s largest rings may be newer than
            anyone</a>
        </h3>
        <div class="post__info">
          <time class="post__text-info" datetime="2019-06-19">June 6, 2019</time>
          <span class="post__text-info"><span class="post__text-info post__text-info--grey">By</span> Rickie
            Baroch</span>
        </div>
      </div>
    </article>
    <article class="post__card">
      <picture>
        <source srcset="img/aside-4.webp" type="image/webp">
        <img class="post__img" loading="lazy" src="img/aside-4.jpg" alt="the girl smiles">
      </picture>
      <a class="post__sub" href="#" aria-label="Photography">Photography</a>
      <div class="post__content">
        <h3 class="post__title">
          <a href="#" class="post__link">One of Saturn’s largest rings may be newer than
            anyone</a>
        </h3>
        <div class="post__info">
          <time class="post__text-info" datetime="2019-06-19">June 6, 2019</time>
          <span class="post__text-info"><span class="post__text-info post__text-info--grey">By</span> Rickie
            Baroch</span>
        </div>
      </div>
    </article>
  </div>
</div>