<div class="sotial dropdown-block__item">
  <button class="btn dropdown-block__btn caption sotial__caption">
    Sotial media
  </button>
  <div class="dropdown">

    <ul class="list-reset sotial__list">
      <li class="sotial__item">
        <a href="#" class="sotial__link" aria-label="facebook">
          <svg class="sotial__icon sotial__icon--facebook">
            <use xlink:href="img/sprite.svg#facebook">
            </use>
          </svg>
          <span class="sotial__text">32K</span>
          <span class="sotial__text">likes</span>
        </a>
      </li>
      <li class="sotial__item">
        <a href="#" class="sotial__link" aria-label="pinterest">
          <svg class="sotial__icon sotial__icon--pinterest">
            <use xlink:href="img/sprite.svg#pinterest">
            </use>
          </svg>
          <span class="sotial__text">814</span>
          <span class="sotial__text">followers</span>
        </a>
      </li>
      <li class="sotial__item">
        <a href="#" class="sotial__link" aria-label="vimeo">
          <svg class="sotial__icon sotial__icon--vimeo">
            <use xlink:href="img/sprite.svg#vimeo">
            </use>
          </svg>
          <span class="sotial__text">165</span>
          <span class="sotial__text">followers</span>
        </a>
      </li>
      <li class="sotial__item">
        <a href="#" class="sotial__link" aria-label="dribbble">
          <svg class="sotial__icon sotial__icon--dribbble">
            <use xlink:href="img/sprite.svg#dribbble">
            </use>
          </svg>
          <span class="sotial__text">6K</span>
          <span class="sotial__text">followers</span>
        </a>
      </li>
      <li class="sotial__item">
        <a href="#" class="sotial__link" aria-label="tweeter">
          <svg class="sotial__icon sotial__icon--twitter">
            <use xlink:href="img/sprite.svg#twitter">
            </use>
          </svg>
          <span class="sotial__text">130K</span>
          <span class="sotial__text">followers</span>
        </a>
      </li>
      <li class="sotial__item">
        <a href="#" class="sotial__link" aria-label="behance">
          <svg class="sotial__icon sotial__icon--behance">
            <use xlink:href="img/sprite.svg#behance">
            </use>
          </svg>
          <span class="sotial__text">37K</span>
          <span class="sotial__text">followers</span>
        </a>
      </li>
      <li class="sotial__item">
        <a href="#" class="sotial__link" aria-label="instagram">
          <svg class="sotial__icon sotial__icon--instagram">
            <use xlink:href="img/sprite.svg#instagram">
            </use>
          </svg>
          <span class="sotial__text">854K</span>
          <span class="sotial__text">followers</span>
        </a>
      </li>
      <li class="sotial__item">
        <a href="#" class="sotial__link" aria-label="youtube">
          <svg class="sotial__icon sotial__icon--youtube">
            <use xlink:href="img/sprite.svg#youtube">
            </use>
          </svg>
          <span class="sotial__text">52K</span>
          <span class="sotial__text">followers</span>
        </a>
      </li>
      <li class="sotial__item">
        <a href="#" class="sotial__link" aria-label="google">
          <svg class="sotial__icon sotial__icon--google">
            <use xlink:href="img/sprite.svg#google">
            </use>
          </svg>
          <span class="sotial__text">642</span>
          <span class="sotial__text">followers</span>
        </a>
      </li>
    </ul>
  </div>
</div>