<div class="tags dropdown-block__item">
  <button class="btn dropdown-block__btn caption tags__caption">Tags</button>
  <div class="dropdown">
    <ul class="list-reset tags__list">
      <li class="tags__item"><a href="#" aria-label="Business" class="tags__link">Business</a></li>
      <li class="tags__item"><a href="#" aria-label="Freelance" class="tags__link">Freelance</a></li>
      <li class="tags__item"><a href="#" aria-label="Money" class="tags__link">Money</a></li>
      <li class="tags__item"><a href="#" aria-label="Experience" class="tags__link">Experience</a></li>
      <li class="tags__item"><a href="#" aria-label="Lifestyle" class="tags__link">Lifestyle</a></li>
      <li class="tags__item"><a href="#" aria-label="SEO" class="tags__link">SEO</a></li>
      <li class="tags__item"><a href="#" aria-label="Wordpress" class="tags__link">Wordpress</a></li>
      <li class="tags__item"><a href="#" aria-label="Marketing" class="tags__link">Marketing</a></li>
      <li class="tags__item"><a href="#" aria-label="UX" class="tags__link">UX</a></li>
      <li class="tags__item"><a href="#" aria-label="Modern" class="tags__link">Modern</a></li>
      <li class="tags__item"><a href="#" aria-label="Success" class="tags__link">Success</a></li>
      <li class="tags__item"><a href="#" aria-label="Nature" class="tags__link">Nature</a></li>
    </ul>
  </div>

</div>